<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests">
<!--<listeners>-->
<!--    <listener class-name="seleniumTestNG.TestStatusListener"></listener>-->
<!--</listeners>-->
    <test name="SeleniumTestNG">
        <classes>
            <class name="seleniumUITest.TestNGTestClass"></class>
        </classes>
    </test>
    <!--    <test name="SeleniumGridStandaloneTest">-->
    <!--        <classes>-->
    <!--            <class name="seleniumGridTest.RemoteDriverSetUp"></class>-->
    <!--        </classes>-->
    <!--    </test>-->

<!--        <test name="UITestRunner">-->
<!--        <classes>-->
<!--            <class name="cucumberBddTest.runner.UITestRunner"></class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="APITestRunner">-->
<!--        <classes>-->
<!--            <class name="cucumberBddTest.runner.APITestRunner"></class>-->
<!--        </classes>-->
<!--    </test>-->


<!--    <test name="RestAssuredTest">-->
<!--        <classes>-->
<!--            <class name="restassuredTest.BookStoreEndToEndAPITestNGTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="AppiumTest">-->
<!--        <classes>-->
<!--            <class name="appiumTest.MobileTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="seleniumperfTest">-->
<!--        <classes>-->
<!--            <class name="seleniumperfTest.BaseproxySetUp"></class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>